#importation Bib

In [52]:
import numpy as np
np.set_printoptions(threshold=1000,suppress=True)
import pandas as pd
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

#read Data

In [53]:
churn = pd.read_csv('./credit_scoring.csv',sep=';',header=0)
churn.head(4)

,Seniority,Home,Time,Age,Marital,Records,Job,Expenses,Income,Assets,Debt,Amount,Price,Status
0,9.0,1.0,60.0,30.0,0.0,1.0,1.0,73.0,129.0,0.0,0.0,800.0,846.0,1
1,17.0,1.0,60.0,58.0,1.0,1.0,0.0,48.0,131.0,0.0,0.0,1000.0,1658.0,1
2,10.0,0.0,36.0,46.0,0.0,2.0,1.0,90.0,200.0,3000.0,0.0,2000.0,2985.0,0
3,0.0,1.0,60.0,24.0,1.0,1.0,0.0,63.0,182.0,2500.0,0.0,900.0,1325.0,1

#data dimension

In [54]:
churn.shape

(4375, 14)

#séparation donnée x=features y=class exit

In [55]:
X=churn.iloc[:, 1:13].values
#x tous les features
Y = churn.iloc[:, 13].values
#y class exit

In [56]:
Y

array([1, 1, 0, ..., 0, 1, 1])

#Partie 2 training & test

In [57]:
from sklearn.model_selection import train_test_split
#importation des algorithmes
from sklearn.tree import  DecisionTreeClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.metrics import confusion_matrix,accuracy_score,precision_score,recall_score

from sklearn.neighbors import KNeighborsClassifier 
from sklearn.ensemble import RandomForestClassifier 
from sklearn.ensemble import AdaBoostClassifier 
from sklearn.ensemble import ExtraTreesClassifier

In [58]:
Xtrain,Xtest,Ytrain,Ytest = train_test_split(X,Y,test_size=0.25,random_state=1)

In [59]:
Xtrain.shape

(3281, 12)

#Decision Tree

In [60]:
def ClassifieurExited(Xtrain,Ytrain,Xtest,Ytest):
  print('DecisionTreeClassifier')
  DT = DecisionTreeClassifier(random_state=0, criterion='entropy')
  #apprentissage
  DT.fit(Xtrain,Ytrain)
  #prediction
  YDT = DT.predict(Xtest)
  

  acc1 = accuracy_score(Ytest,YDT)
  pre1 = recall_score(Ytest,YDT)
  score1= (acc1+pre1)/2
  print('>Score = {0:.3f}'.format(score1))
  print("\n")

  
  
  print('MLPClassifier')
  MLP = MLPClassifier(hidden_layer_sizes=(20,10),alpha=0.001,max_iter=200)
  MLP.fit(Xtrain,Ytrain)
  YMLP = MLP.predict(Xtest)

  acc2 = accuracy_score(Ytest,YMLP)
  pre2 = recall_score(Ytest,YMLP)
  score2= (acc2+pre2)/2
  print('>Score = {0:.3f}'.format(score2))
  print("\n")


  print('AdacBoost')
  AdaC=AdaBoostClassifier(n_estimators=100, random_state=0)
  AdaC.fit(Xtrain,Ytrain)
  YAdaC=AdaC.predict(Xtest)
  acc5 = accuracy_score(Ytest,YAdaC)
  pre5 = recall_score(Ytest,YAdaC)
  score5= (acc5+pre5)/2
  print('>Score = {0:.3f}'.format(score5))
  print("\n")


  
  print('Random Forest')
  RF= RandomForestClassifier(n_estimators=100, random_state=1)
  RF.fit(Xtrain,Ytrain)
  YRF=RF.predict(Xtest)
  acc4 = accuracy_score(Ytest,YRF)
  pre4 = recall_score(Ytest,YRF)
  score4= (acc4+pre4)/2
  print('>Score = {0:.3f}'.format(score4))
  print("\n")


  print('KNN neighbors')
  KNN= KNeighborsClassifier(n_neighbors=5)
  KNN.fit(Xtrain,Ytrain)
  YKNN=KNN.predict(Xtest)
  acc3 = accuracy_score(Ytest,YKNN)
  pre3 = recall_score(Ytest,YKNN)
  score3= (acc3+pre3)/2
  print('>Score = {0:.3f}'.format(score3))
  print("\n")

  print('extra tree')
  ExtC=ExtraTreesClassifier(n_estimators=100, random_state=0)
  ExtC.fit(Xtrain,Ytrain)
  YExtC=AdaC.predict(Xtest)
  acc6 = accuracy_score(Ytest,YExtC)
  pre6 = recall_score(Ytest,YExtC)
  score6= (acc6+pre6)/2
  print('>Score = {0:.3f}'.format(score6))
  print("\n")

In [61]:
ClassifieurExited(Xtrain,Ytrain,Xtest,Ytest)

DecisionTreeClassifier
>Score = 0.762


MLPClassifier
>Score = 0.786


AdacBoost
>Score = 0.841


Random Forest
>Score = 0.832


KNN neighbors
>Score = 0.811


extra tree
>Score = 0.841